.auth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    &__form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__field {
            position: relative;
            width: 370px;
            height: 36px;
            padding: 3px;
            margin: 5px 0px;
            box-sizing: border-box;
        }

        &__button {
            position: relative;
            height: 36px;
            width: 370px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            transition: .4s all linear;
            &:hover {
                background: white;
                color: black;
                border: 2px solid black;
                font-weight: bold;
            }
        }
    }
}